@use './mixins.scss' as m;
@use './variables.scss' as v;


nav {
  display: flex;
  justify-content: space-between;
  background-color: v.$black;
  height: 8vh;
  align-items: center;
  font-size: 1.3rem;
  padding: 0 2%;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }
}
.mainContent {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 92vh;

  .appPictureContainer {
    background-color: v.$white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 55%;
    }
  }
  .appTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$dark-blue;
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
img {
  border-radius: 10px;
}
button {
  @include m.button-styles(black, white)
}
button:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .mainContent {
    grid-template-columns: auto;

    .appPictureContainer {
      padding-top: 2vh;
    }
  }
}