@use './mixins' as m;
@use './variables' as v;

.workoutListContainer {
  display: flex;
  flex-direction: column;
      ul {
      list-style-type: none;
      li {
        display: block;
        background-color: white;
        color: black;
        font-size: 1.1rem;
        margin: 10px 5px;
        border-radius: 5px;
        padding: 10px;
        text-align: left;
        width: 30%;
        .setText {
          background-color: yellow;
        }
      }
    }
    // button {
    //   width: 20%;
    // }
}

