@use './mixins' as m;
@use './variables' as v;
@use './main.scss';

.workoutNav {
  background-color: black;
  height: 6vh;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
  a:hover {
    color: v.$light-blue;
  }
}
.workoutListContainer {
  display: flex;
  flex-direction: column;

      ul {
      list-style-type: none;
      .exerciseContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: v.$medium-grey;
        color: white;
        font-size: 1.1rem;
        margin: 10px 5px;
        border-radius: 5px;
        padding: 10px;
        text-align: left;
        width: 35%;
        input {
          font-size: 1.2rem;
          border: none;
        }
        input {
          margin-left: 10px;
        }
        .setText {
          background-color: yellow;
        }
      }
    }
}

