$black: #0a0c10;
$dark-grey: #16181e;
$grey: #22252d;
$medium-grey: #3c414b; 
$light-grey: #5a606e;
$white-color: #dce1eb;


$dark-blue: #122030;
$navy-blue: #0f192d;
$light-blue: #3478c8;
$very-light-blue: #78aae6;

$light-green: #488c64;
$light-red: #964646;
$light-yellow: #c89a34; 

