@use './mixins.scss' as m;
@use './variables.scss' as v;

.greeting {
  padding: 1rem 0 0 1rem;
  h1 {
    font-size: 2.8rem;
  }
}

.pageContentContainer {
  min-height: calc(100vh - 4rem);
}

.mainBlocksContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin-top: 1.25rem;
  padding: 0 1.25rem;
}

.manipulationContainer,
.progressContainer,
.closestWorkouts {
  height: 100%;
  padding: 2rem;
  border: 0.1rem solid v.$light-grey;
  border-radius: 1rem;
  background-color: v.$grey;
  text-align: center;

  h2 {
    margin-bottom: 1.25rem;
  }
}

.manipulationContainer {
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: v.$light-blue;

    &:hover {
      background-color: v.$white-color;
      color: black;
    }
  }
}

.changesButtons {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    display: inline-flex;
    justify-content: space-between;
  }
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainer {
  width: 90%;
  margin-top: 1rem;
  canvas {
    width: 100%;
  }
}

.bmiContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;

  h3 {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
      display: block;
      text-align: left;
      margin: 0;
    }

    input {
      width: 10rem;
      padding: 0.5rem;
      font-size: 1.2rem;
      border: none;
    }

    button {
      height: fit-content;
    }

    div {
      margin-bottom: 1rem;
    }
    .inputContainer {
      display: flex;
      align-items: center;
    }
  }
}

.BMIdiv {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
}

.underweight {
  background-color: v.$very-light-blue;
}

.normal {
  background-color: v.$light-green;
}

.overweight {
  background-color: v.$light-yellow;
}

.obesity {
  background-color: v.$light-red;
}

.calendarContainer {
  overflow-y: auto;

  .subtitle {
    color: v.$white-color;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: block;
    margin: 1rem 0.2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    font-size: 1.1rem;
    color: white;
    background-color: v.$medium-grey;

    button {
      margin-top: 1rem;
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainBlocksContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .manipulationContainer a {
    width: 90%;
  }

  .chartContainer {
    width: 100%;
  }
  .bmiContainer form {
    flex-direction: column;
    button{
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .mainBlocksContainer {
    grid-template-columns: 1fr;
  }

  .closestWorkouts {
    order: -2;
  }

  .progressContainer {
    order: -1;
  }

  .chartContainer {
    width: 100%;
  }

  .bmiContainer form input {
    width: 100%;
  }

  .calendarContainer {
    overflow-y: visible;
  }
}