@use './mixins.scss' as m;
@use './variables.scss' as v;


.greeting {
  padding-left: 1rem;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.pageContentContainer {
    height: calc(100vh - 4rem);

  .mainBlocksContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 70vh;

    .progressContainer {
      .underweight{
        background-color: v.$very-light-blue;
        color: black
      }
      .normal {
        background-color: v.$light-green;
      }
      .overweight {
        background-color: v.$light-yellow;
        color: black;
      }
      .obesitiy {
        background-color: v.$light-red;
      }
      .chartContainer {
        width: 70%;
        margin-top: 1rem;
      }
      .bmiContainer {
        border-radius: 1rem;
        padding: 2rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        h3 {
          margin-bottom: 1rem;
          
        }
        form {
          display: flex;
          flex-direction: column;
          label {
            display: block;
            text-align: left;
          }
          input {
            font-size: 1.2rem;
            text-align: right;
            width: 10rem;
            border: none;
          }
          div {
            margin-bottom: 1rem;
          }
        }
      }
    }
    section {
      text-align: center;

      .changesButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          display: inline-flex;
          justify-content: space-between;
        }
      }
    }

    .calendarContainer {
      overflow-y: auto;
      .subtitle {
        color: v.$white-color;
      }
      ul {
        list-style-type: none;
        li {  
          display: block;
          background-color: v.$medium-grey;
          color: white;
          font-size: 1.1rem;
          margin: 1rem 0.2rem;
          border-radius: 0.5rem;
          padding: 1rem;
          text-align: left;
          button {
            margin-top: 1rem; 
            padding: 0.5rem;
          }
        }
      }
    }
    
    .manipulationContainer, .progressContainer, .closestWorkouts {
      background-color: v.$grey;
      margin: 20px;
      border-radius: 10px;
      padding: 20px;
      border: 1px solid v.$light-grey;
      height: 100%;
      h2 {
        margin-bottom: 20px;
      }
    }
    .manipulationContainer {
      a {
          background-color: v.$light-blue;
          width: 60%;
          text-align: left;
          text-decoration: none;
          padding: 0.5rem;
          border-radius: 0.5rem;
          font-size: 1.1rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;
      }
      a:hover {
        background-color: v.$white-color;
        color: black;
      }
    }
    .progressContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
//add mixins
@media screen and (max-width: 768px) {
  .mainBlocksContainer {
    grid-template-columns: auto;

    .closestWorkouts {
      order: -2;
    }
    .progressContainer {
      order: -1;
    }
  }
}