@use './mixins' as m;
@use './variables' as v;

.pageContainer {
  display: flex;
  justify-content: center;
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .formContainer{
    background-color: v.$grey;
    padding: 40px;
    border-radius: 20px;
    form {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      .exercisesContainer {
        max-height: 33vh;
        overflow-y: auto;
        width: 100%;
        margin: 10px 0;
      }
        select {
          display: block;
        }
        input, select {
        border: none;
        margin: 10px 5px;
        border-radius: 5px;
        padding: 10px;
        text-align: left;
        margin-left: 10px;
        }
        .workoutCountSection {
        button {
          margin: 1rem 1rem 1rem 0;
        }
        .addExerciseBtn {
          background: v.$light-green;
        }

        .removeExerciseBtn {
          background: v.$light-red;
        }
      }
      button {
        background-color: v.$light-blue;
      }
    }
  }
}


@media screen and (min-width: 480px) {
  .pageContainer {
    .formContainer {
      width: 80%;
    }
  }
}
@media screen and (min-width: 768px) {
  .pageContainer {
    .formContainer {
      width: 70%;
    }
  }
}
@media screen and (min-width: 992px) {
  .pageContainer {
    .formContainer {
      width: 50%;
    }
  }
}
@media screen and (min-width: 1280px) {
  .pageContainer {
    .formContainer {
      width: 30%;
    }
  }
}