@use './mixins.scss' as m;
@use './variables.scss' as v;

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 4rem);
  width: 100%;

  .appTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: v.$dark-blue;

    img {
      margin-bottom: 1rem;
      width: 70%;
    }

    p {
      font-size: 2rem;
      opacity: 0.9;
    }
  }

  .appPictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: v.$white-color;

    img {
      width: 70%;
      object-fit: contain;
      box-shadow: rgba(0, 0, 0, 0.15) 0.12rem 0.12rem 0.16rem;
    }
  }
}

.discoverySection {
  max-width: 62.5rem;
  margin: 4rem auto;
  padding: 0 2rem;

  h2 {
    margin: 1rem 0;
    font-size: 3rem;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    color: white;
    background-color: v.$light-blue;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: all 0.2s;

    &:hover {
      background-color: v.$white-color;
      color: black;
    }
  }
}


@media screen and (max-width: 1024px) {
  .mainContent {
    .appTitleContainer {
      p {
        font-size: 1.7rem;
      }
    }

    .appPictureContainer {
      img {
        width: 85%;
      }
    }
  }

  .discoverySection {
    h2 {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;

    .appTitleContainer {
      padding: 2rem 1rem;

      p {
        font-size: 1.5rem;
      }
    }

    .appPictureContainer {
      padding-top: 2vh;

      img {
        width: 100%;
        max-width: 25rem;
        height: auto;
      }
    }
  }

  .discoverySection {
    h2 {
      font-size: 2.2rem;
    }
  }
}