@use './mixins.scss' as m;
@use './variables.scss' as v;

.navHeader {
  position: sticky;
  top: 0;
}

.navContainer {
  .mainNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 2rem;
    font-size: 1.3rem;
    color: v.$white-color;
    background-color: v.$black;
  }
}

.logoContainer a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  a, button {
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:last-of-type {
      border: none;
      border-radius: 0.5rem;
      color: v.$black;
      background-color: v.$white-color;
    }

    &:last-of-type:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}