@use './mixins' as m;
@use './variables' as v;


.workoutListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;      
        form { 
          width: fit-content;
          ul {
            list-style-type: none;
            font-size: 1.5rem;

            .exerciseContainer {
              display: flex;
              gap: 0.5rem;
              align-items: center;
              background-color: v.$medium-grey;
              color: white;
              margin: 1rem 0.5rem;
              border-radius: 0.5rem;
              padding: 10px;
              text-align: left;
              max-width: 1000px;

              .bodyIcon {
                height: 6rem;
              }

              .textCheckboxContainer {
                display: flex;
                align-items: center;
                div, label {
                  margin-left: 10px;
                }
                div {
                  width: 25rem;
                }
                input[type="checkbox"] {
                  appearance: none;
                  margin-right: 2rem;
                  width: 1.5rem;
                  height: 1.5rem;
                  border: 2px solid v.$light-grey;
                  border-radius: 4px;
                  cursor: pointer;
                  position: relative;
                  transition: all 0.2s ease-in-out;

                  &:hover {
                    border-color: v.$white-color;
                  }

                  &:checked {
                    background-color: v.$light-blue;
                    border-color: v.$light-blue;

                    &::after {
                      content: '\2714';
                      position: absolute;
                      left: 0;
                      top: -0.4rem;
                      height: 1rem;
                    }
                  }
                }
              }
            }
            input {
              font-size: 1.5rem;
              width: 10rem;
              border: none;
              text-align: right;
            }
          }
            button {
              width: 100%;
              margin: 0.5rem 0;
            }
        }

}


